.user-login-card {
    margin: 0 auto;
    width: 40%;
}

.username-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

.password-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.login-button {
    display: flex;
    justify-content: flex-start;
}
.register-button {
    display: flex;
    justify-content: space-around;
    color: blue;
}

