.login-menu {
  padding: 0px;
  background-color: red;
}

.user-menu-button {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

.user-menu-divider {
  padding: 10px 10px;
  display: inline-block;
}

.user-menu-info {
  padding: 10% 0;
  display: inline-block;
}

.menu-icon {
  margin-top: auto;
  margin-bottom: auto;
}

::ng-deep .login-menu .mat-menu-content:not(:empty) {
  padding-bottom: 0px;
  padding-top: 0px;
}
