<button *ngIf="!nerfumsService.getCurrentSessionValue" mat-flat-button color="accent" [matMenuTriggerFor]="loginMenu"
        (menuClosed)="toggleRegister(false)">Log In
</button>
<div *ngIf="nerfumsService.getCurrentSessionValue">
  <h2 class="user-menu-info">{{nerfumsService.getCurrentUserValue.displayName}}</h2>
  <h1 class="user-menu-divider">|</h1>
  <h2 class="user-menu-info"> ${{nerfumsService.getCurrentUserValue.availableCash}}</h2>
  <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
    <mat-icon style="margin-bottom: 7px">menu</mat-icon>
  </button>
</div>


<mat-menu class="login-menu" #loginMenu="matMenu">
  <div (click)="$event.stopPropagation()">
    <app-user-login *ngIf="!isRegistering"></app-user-login>
    <app-register-user *ngIf="isRegistering"></app-register-user>
  </div>
</mat-menu>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item (click)="nerfumsService.logout()">Log Out</button>
</mat-menu>
