<mat-card class = contract-list-card>
  <mat-card-header>
    <mat-card-title>Contract List</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion *ngFor="let contract of currentContracts">
      <app-contract-item [contract]="contract"></app-contract-item>
    </mat-accordion>
  </mat-card-content>

  <mat-card-actions align="end">
    <mat-paginator #paginator [length]="this.allContracts.length"
                   [pageSize]="this.defaultPageSize"
                   [pageIndex]="this.defaultPageIndex"
                   [pageSizeOptions]="[2, 5, 10, 25, 100]"

                   (page) ="paginatorEvent($event)">
    </mat-paginator>
  </mat-card-actions>
</mat-card>
