<mat-card class="about-card">

  <mat-card-content class="mat-typography">
    <h1>Welcome to Nerfums!</h1>
    <h2>What is Nerfums?</h2>
    <p>
      Nerfums is a Nerf hit-list website where you can post and complete contracts on other people in the office. These contracts will award money
      which
      can then be used to place new contracts. Leader boards also display things like: who has the most money, who has completed the most contracts,
      or who has been hit the most times. Make an account to get started.
    </p>

    <h2>How to complete a Contract</h2>
    <p>
      To complete a Contract, go to the "Contract List" tab to find a list of active Contracts. From there, simply find a Contract that you want to
      complete, and shoot the target with a Nerf Gun. Be sure to pay attention to any Modifiers.
    </p>

    <h2>How to place a Contract</h2>
    <p>
      Navigate to the "Manage Contracts" tab. From there, you can place a new contract. Contracts require a target and a dollar amount for the reward,
      however you can also add a description, or attach modifiers.
    </p>

    <h2>What is a Modifier</h2>
    <p>
      A Modifier is a bonus challenge that can be placed on a Contract that makes it more difficult and more fun. Modifiers can include things like:
      getting a headshot, hitting someone while they are on the phone, or hitting someone while they are walking. There are two types of Modifiers,
      Required and Optional.
      Required Modifiers are required to complete the contract, while Optional Modifiers will provide a bonus reward if completed.
    </p>
  </mat-card-content>
</mat-card>
