.target-avatar {
  background-size: cover;
}

.username-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}

.password-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}

.confirm-password-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}