<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><strong>{{title}}</strong></span>
    <span class="toolbar-fill"></span>
    <span>
      <app-user-login-menu></app-user-login-menu>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <div *ngFor="let link of navLinks">
    <a mat-tab-link
       *ngIf="true"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </div>

</nav>

<router-outlet></router-outlet>
