table {
  width: 90%;

  margin-left: auto;
  margin-right: auto;
}

.active-contracts {
  width: 60%;
  height: 80%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.table-number-col {
  width: 5%;
}

.table-number-item {
  padding-right: 4%;
}

.table-target-col {
  width: 25%;
}

.table-reward-col {
  width: 10%
}

.table-description-col {
  width: 40%
}

.table-description-item {
  padding: 2%;
}

.table-button-col {
  width: 10%;
}
