<mat-card class="active-contracts">
  <mat-card-header>
    <mat-card-title>
      Active Contracts
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="currentUserActiveContracts" >

      <ng-container matColumnDef="index">
        <th mat-header-cell class = "table-number-col" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="contractTarget">
        <th mat-header-cell class = "table-info-col" *matHeaderCellDef>Target</th>
        <td mat-cell *matCellDef="let contract">{{contract.contractTarget.fullName}}</td>
      </ng-container>

      <ng-container matColumnDef="contractReward">
        <th mat-header-cell class = "table-info-col" *matHeaderCellDef>Reward</th>
        <td mat-cell *matCellDef="let contract">{{contract.contractReward}}</td>
      </ng-container>

      <ng-container matColumnDef="contractDetails">
        <th mat-header-cell class = "table-details-col" *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let contract">{{contract.details}}</td>
      </ng-container>

      <ng-container matColumnDef="contractDelete">
        <th mat-header-cell class="table-button-col" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let contract">
          <button mat-button (click)="openDeleteDialog(contract.contractId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="contractComplete">
        <th mat-header-cell class="table-button-col" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let contract">
          <button mat-button (click)="openCompleteDialog(contract)">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator #paginator [length]="1"
                              [pageSize]="defaultPageSize"
                              [pageIndex]="defaultPageIndex"
                              [pageSizeOptions]="[2,5,10,25,50]"

                              (page) = "paginatorEvent($event)">
    </mat-paginator>
  </mat-card-footer>

</mat-card>
