/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.base-page {
  width: 80%;
  margin: 5% auto;
}

.nerf-orange-color {
  color: #FF6600;
}
