<mat-card class=settings-card>
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="settings-section">
      <mat-card-title>Change Avatar:</mat-card-title>
      <div mat-card-avatar [style.background-image]="'url(' + avatar + ')'" class="target-avatar"></div>

      <input type="file" (change)="onFileChanged($event)">
      <mat-card-actions align="end">
        <button mat-flat-button class="confirm-picture-button" color="primary" (click)="confirmPictureClick()">Confirm</button>
      </mat-card-actions>
    </div>

    <mat-divider [inset]="true"></mat-divider>

    <div class="settings-section">
      <mat-card-title>Change Display Name:</mat-card-title>
      <mat-form-field class="username-field">
        <mat-label>Username</mat-label>
        <input type="text" matInput #usernameInput placeholder="Username" [formControl]="usernameControl" (change)="setUsername(usernameInput.value)">
        <mat-error *ngIf="usernameControl.hasError('required')">Please enter a valid user name!</mat-error>
        <mat-hint>Enter New Username</mat-hint>
      </mat-form-field>
      <mat-card-actions align="end">
        <button mat-flat-button class="confirm-username-button" color="primary" (click)="confirmUsernameClick()">Confirm</button>
      </mat-card-actions>
    </div>

    <mat-divider [inset]="true"></mat-divider>

    <div class="settings-section">
      <mat-card-title>Change Password:</mat-card-title>
      <mat-form-field class="password-field">
        <mat-label>Password</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" matInput #passwordInput placeholder="Password" [formControl]="passwordControl"
               (change)="setPassword(passwordInput.value)">
        <button mat-icon-button matSuffix (click)="onHidePasswordClick()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl.hasError('required')">Please enter a valid password!</mat-error>
        <mat-hint>Enter New Password</mat-hint>
      </mat-form-field>

      <mat-form-field class="confirm-password-field">
        <mat-label>Confirm Password</mat-label>
        <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput #passwordInput placeholder="Confirm Password"
               [formControl]="confirmPasswordControl" (change)="setConfirmPassword(passwordInput.value)">
        <button mat-icon-button matSuffix (click)="onHideConfirmPasswordClick()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPasswordControl.hasError('required')">Please enter a valid password!</mat-error>
        <mat-hint>Confirm New Password</mat-hint>
      </mat-form-field>
      <mat-card-actions align="end">
        <button mat-flat-button class="confirm-password-button" color="primary" (click)="confirmPasswordClick()">Confirm</button>
      </mat-card-actions>
    </div>

  </mat-card-content>
</mat-card>
